@import '~@blueprintjs/core/src/common/_colors';

$pt-intent-primary: $color-brand;

$pt-link-color: $color-brand;
$pt-dark-link-color: $color-brand-light;

$pt-intent-text-colors: (
	'primary': $color-brand,
	'success': $green2,
	'warning': $orange2,
	'danger': $red2
);

$pt-dark-intent-text-colors: (
	'primary': $color-brand-light,
	'success': $green5,
	'warning': $orange5,
	'danger': $red5
);

@import '~normalize.css';
@import '~@blueprintjs/core/src/blueprint';