@import 'mixins/account/connections/service.scss';

.AccountPage-Connections-Service {
	@include settings-connections-service(white);
	padding: 15px;
}

.AccountPage-Connections-Service-discord {
	@include settings-connections-service($color-service-discord);
}

.AccountPage-Connections-Service-twitch {
    @include settings-connections-service($color-service-twitch);
}

.AccountPage-Connections-Service h4 {
	font-size: 20px;
	font-weight: 300;
}