@import url(https://fonts.googleapis.com/css?family=Hind:300,400,700&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese);

@import '_global.scss';
@import '_custom.scss';

@import 'buttons.scss';

@import 'account.scss';
@import 'settings.scss';

html, body {
    font-family: 'Hind';
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

.align-center {
    text-align: center;
}

.color-error {
    color: $color-error;
}

.error {
    border-left: 3px solid $color-error;
    margin-top: 20px;
}

.navbar {
    border-top: 3px solid $color-brand;
    background-image: linear-gradient(mix($color-brand, black, 30%), $transparent);
    margin-bottom: 1em;
}

.navbar-brand img {
    border-radius: 24px;
    width: 32px;
}

.navbar-dark .navbar-nav .nav-link.active {
    text-shadow: 0px 0px 5px lighten($color-brand, 30%);
}

.nav-link {
    padding: 0.3rem 1rem;
}

.nav-pills .nav-link {
    margin-bottom: 2px;
}

.nav-pills .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

.nav-pills .nav-link.active:hover {
    background-color: $color-brand;
    color: white;
}