@import '_global.scss';
@import '_custom.scss';
@import '_tools.scss';

@import 'dashboard.scss';

*, *::before, *::after {
	border-radius: inherit;
}

html, body {
	background-color: $pt-dark-app-background-color;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

strong {
	font-weight: 700;
}

.bp3-menu a, .bp3-navbar a {
	color: white !important;
	text-decoration: none !important;
}

.bp3-menu-item strong {
	font-weight: 600;
	text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
}

.bp3-select-popover {
	.bp3-input-group {
		margin-bottom: 0;
	}

	.bp3-menu {
		padding: 0;

		&:not(:first-child) {
			padding-top: 5px;
		}
	}
	
	.bp3-popover-content {
		padding: 5px;
	}
}

.MikuiaNavbar.bp3-navbar {
	background-color: mix($color-brand, black, 80%);
	border-bottom: 1px solid mix($color-brand, black, 40%);
	box-shadow: none;
    margin-bottom: 1em;
}

.MikuiaNavbar.bp3-navbar .bp3-navbar-heading img {
	width: 32px;
}