.CommandsPage-Table {
	width: 100%;
}

.DashboardPage-Sidebar {
	small {
		color: $gray2;
		font-size: 12px;
		font-weight: 600;
		text-transform: uppercase;
	}
}

.DashboardPage-Tabs .bp3-tab-list {
	width: 100%;
}

.DashboardPage-TargetSelection {
	.bp3-button img, .bp3-menu img {
		border-radius: 10px;
		height: 20px;
		width: 20px;
	}

	.bp3-popover, .bp3-transition-container {
		width: 244px;
	}
}