.CommandsPage-Table {
	width: 100%;
}

.SettingsPage-Sidebar {
	small {
		color: $gray2;
		font-size: 12px;
		font-weight: 600;
		text-transform: uppercase;
	}
}

.SettingsPage-Tabs .bp3-tab-list {
	width: 100%;
}

.SettingsPage-TargetSelection .bp3-popover, .bp3-transition-container {
	width: 244px;
}